<div class="row friend">
  <div class="col-sm-5">
    <%= image_tag friend.avatar, class: "img-circle friend-avatar" %>
  </div>
  <div class="col-sm-5">
    <p><%= friend.name %></p>
    <h4><%= friend.total_steps %></h4>
  </div>
  <div class="col-sm-2">
    <strong><%= friend.rank %></strong>
  </div>
</div>
