<div class="row friend">
  <div class="col-sm-4">
    <%= image_tag friend.avatar, class: "img-circle friend-avatar" %>
  </div>
  <div class="col-sm-6">
    <p class="friend-name"><strong><%= friend.name %></strong></p>
    <h4 class="friend-steps"><%= friend.total_steps %></h4>
  </div>
  <div class="col-sm-2">
    <%= friend.rank %>
  </div>
</div>
