<div class="row">
  <div class="col-sm-12">
    <div class="panel text-center heart-rate-panel">
      <h4>Resting Heart Rate</h4>
      <div>
        <%= high_chart("heart-rate-chart", @user_data.heartrate_chart)  %>
      </div>
      <h3>Today: <%= @user_data.todays_heartrate %> bpm</h3>
    </div>
  </div>
</div>
