<div class="row">
  <div class="col-sm-12">
    <h4><%= sleep.date %></h4>
    <p>Time Asleep: <%= sleep.time_asleep_in_hours %></p>
    <p>Time Awake: <%= sleep.time_awake_in_hours %></p>
    <p>Number of Awakenings: <%= sleep.awakenings %></p>
  </div>
</div>
