<div class="row">
  <div class="col-sm-12">
    <h4><%= sleep.date %></h4>
    <p>Time Asleep: <%= sleep.in_hours(sleep.time_asleep) %></p>
    <p>Time Awake: <%= sleep.in_hours(sleep.time_awake) %></p>
    <p>Number of Awakenings: <%= sleep.awakenings %></p>
  </div>
</div>
