---
http_interactions:
- request:
    method: get
    uri: https://api.fitbit.com/1/user/35FPZ5/sleep/minutesAsleep/date/2016-02-18/7d.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE0NTU4NTcxNTIsInNjb3BlcyI6Indwcm8gd3NsZSB3d2VpIHdociB3YWN0IHdzb2MiLCJzdWIiOiIzNUZQWjUiLCJhdWQiOiIyMjlXM0IiLCJpc3MiOiJGaXRiaXQiLCJ0eXAiOiJhY2Nlc3NfdG9rZW4iLCJpYXQiOjE0NTU4NTM1NTJ9.b-wxJjnAaWE8EVJW30LXOSMpWgjJ0ErmJCB3B5pxL08
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Fitbit-Rate-Limit-Limit:
      - '150'
      Fitbit-Rate-Limit-Remaining:
      - '92'
      Fitbit-Rate-Limit-Reset:
      - '573'
      Etag:
      - '39872989'
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"sleep-minutesAsleep":[{"dateTime":"2016-02-12","value":"260"},{"dateTime":"2016-02-13","value":"244"},{"dateTime":"2016-02-14","value":"243"},{"dateTime":"2016-02-15","value":"280"},{"dateTime":"2016-02-16","value":"224"},{"dateTime":"2016-02-17","value":"209"},{"dateTime":"2016-02-18","value":"219"}]}'
  recorded_at: Fri, 19 Feb 2016 03:50:27 GMT
- request:
    method: get
    uri: https://api.fitbit.com/1/user/35FPZ5/sleep/minutesAwake/date/2016-02-18/7d.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE0NTU4NTcxNTIsInNjb3BlcyI6Indwcm8gd3NsZSB3d2VpIHdociB3YWN0IHdzb2MiLCJzdWIiOiIzNUZQWjUiLCJhdWQiOiIyMjlXM0IiLCJpc3MiOiJGaXRiaXQiLCJ0eXAiOiJhY2Nlc3NfdG9rZW4iLCJpYXQiOjE0NTU4NTM1NTJ9.b-wxJjnAaWE8EVJW30LXOSMpWgjJ0ErmJCB3B5pxL08
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Fitbit-Rate-Limit-Limit:
      - '150'
      Fitbit-Rate-Limit-Remaining:
      - '91'
      Fitbit-Rate-Limit-Reset:
      - '572'
      Etag:
      - 65ecea70
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"sleep-minutesAwake":[{"dateTime":"2016-02-12","value":"190"},{"dateTime":"2016-02-13","value":"181"},{"dateTime":"2016-02-14","value":"213"},{"dateTime":"2016-02-15","value":"276"},{"dateTime":"2016-02-16","value":"234"},{"dateTime":"2016-02-17","value":"200"},{"dateTime":"2016-02-18","value":"59"}]}'
  recorded_at: Fri, 19 Feb 2016 03:50:28 GMT
- request:
    method: get
    uri: https://api.fitbit.com/1/user/35FPZ5/sleep/awakeningsCount/date/2016-02-18/7d.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE0NTU4NTcxNTIsInNjb3BlcyI6Indwcm8gd3NsZSB3d2VpIHdociB3YWN0IHdzb2MiLCJzdWIiOiIzNUZQWjUiLCJhdWQiOiIyMjlXM0IiLCJpc3MiOiJGaXRiaXQiLCJ0eXAiOiJhY2Nlc3NfdG9rZW4iLCJpYXQiOjE0NTU4NTM1NTJ9.b-wxJjnAaWE8EVJW30LXOSMpWgjJ0ErmJCB3B5pxL08
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Fitbit-Rate-Limit-Limit:
      - '150'
      Fitbit-Rate-Limit-Remaining:
      - '90'
      Fitbit-Rate-Limit-Reset:
      - '572'
      Etag:
      - b596cdcb
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"sleep-awakeningsCount":[{"dateTime":"2016-02-12","value":"20"},{"dateTime":"2016-02-13","value":"15"},{"dateTime":"2016-02-14","value":"20"},{"dateTime":"2016-02-15","value":"21"},{"dateTime":"2016-02-16","value":"18"},{"dateTime":"2016-02-17","value":"20"},{"dateTime":"2016-02-18","value":"7"}]}'
  recorded_at: Fri, 19 Feb 2016 03:50:28 GMT
- request:
    method: get
    uri: https://api.fitbit.com/1/user/35FPZ5/friends/leaderboard.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE0NTU4NTcxNTIsInNjb3BlcyI6Indwcm8gd3NsZSB3d2VpIHdociB3YWN0IHdzb2MiLCJzdWIiOiIzNUZQWjUiLCJhdWQiOiIyMjlXM0IiLCJpc3MiOiJGaXRiaXQiLCJ0eXAiOiJhY2Nlc3NfdG9rZW4iLCJpYXQiOjE0NTU4NTM1NTJ9.b-wxJjnAaWE8EVJW30LXOSMpWgjJ0ErmJCB3B5pxL08
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Fitbit-Rate-Limit-Limit:
      - '150'
      Fitbit-Rate-Limit-Remaining:
      - '89'
      Fitbit-Rate-Limit-Reset:
      - '571'
      Etag:
      - bd3ad53e
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"friends":[{"average":{"steps":18029},"lastUpdateTime":"2016-02-18T11:46:33","lifetime":{"steps":1024432},"rank":{"steps":1},"summary":{"steps":120032},"user":{"age":29,"avatar":"https://d6y8zfzc2qfsl.cloudfront.net/A0B4000B-B1F9-C8DF-5766-2B0E1FDAD5E8_profile_100_square.jpg","avatar150":"https://d6y8zfzc2qfsl.cloudfront.net/A0B4000B-B1F9-C8DF-5766-2B0E1FDAD5E8_profile_150_square.jpg","averageDailySteps":18029,"city":"","country":"","dateOfBirth":"","displayName":"Carlos
        N.","encodedId":"3W492N","features":{},"friend":true,"fullName":"","gender":"MALE","height":175,"locale":"en_US","memberSince":"2015-11-29","nickname":"","offsetFromUTCMillis":-28800000,"state":"","strideLengthRunning":0,"strideLengthWalking":0,"timezone":"America/Los_Angeles","topBadges":[{"badgeGradientEndColor":"FFDB01","badgeGradientStartColor":"D99123","badgeType":"DAILY_STEPS","category":"Daily
        Steps","cheers":[],"dateTime":"2016-02-14","description":"70,000 steps in
        a day","earnedMessage":"Congrats on earning your first Spring Loaders badge!","encodedId":"229845","image100px":"http://static0.fitbit.com/images/badges_new/100px/badge_daily_steps70k.png","image125px":"http://static0.fitbit.com/images/badges_new/125px/badge_daily_steps70k.png","image300px":"http://static0.fitbit.com/images/badges_new/300px/badge_daily_steps70k.png","image50px":"http://static0.fitbit.com/images/badges_new/badge_daily_steps70k.png","image75px":"http://static0.fitbit.com/images/badges_new/75px/badge_daily_steps70k.png","marketingDescription":"You''ve
        walked 70,000 steps  And earned the Spring Loaders badge!","mobileDescription":"Unbelievable!
        You''ve propelled yourself to a whole new level of stepping.","name":"Spring
        Loaders (70,000 steps in a day)","shareImage640px":"http://static0.fitbit.com/images/badges_new/386px/shareLocalized/en_US/badge_daily_steps70k.png","shareText":"I
        took 70,000 steps and earned the Spring Loaders badge! #Fitbit","shortDescription":"70,000
        steps","shortName":"Spring Loaders","timesAchieved":1,"value":70000},{"badgeGradientEndColor":"00A0E5","badgeGradientStartColor":"0056A3","badgeType":"LIFETIME_DISTANCE","category":"Lifetime
        Distance","cheers":[],"dateTime":"2016-01-12","description":"250 lifetime
        miles","earnedMessage":"Whoa! You''ve earned the London Underground badge!","encodedId":"22B8M8","image100px":"http://static0.fitbit.com/images/badges_new/100px/badge_lifetime_miles250.png","image125px":"http://static0.fitbit.com/images/badges_new/125px/badge_lifetime_miles250.png","image300px":"http://static0.fitbit.com/images/badges_new/300px/badge_lifetime_miles250.png","image50px":"http://static0.fitbit.com/images/badges_new/badge_lifetime_miles250.png","image75px":"http://static0.fitbit.com/images/badges_new/75px/badge_lifetime_miles250.png","marketingDescription":"By
        reaching 250 lifetime miles, you''ve earned the Tube badge!","mobileDescription":"You''ve
        walked the length of the world''s first underground railway and are laying
        the tracks for some big things in the future.","name":"London Underground
        (250 lifetime miles)","shareImage640px":"http://static0.fitbit.com/images/badges_new/386px/shareLocalized/en_US/badge_lifetime_miles250.png","shareText":"I
        covered 250 miles with my #Fitbit and earned the London Underground badge.","shortDescription":"250
        miles","shortName":"London Underground","timesAchieved":1,"unit":"MILES","value":250},{"badgeGradientEndColor":"38D7FF","badgeGradientStartColor":"2DB4D7","badgeType":"DAILY_FLOORS","category":"Daily
        Climb","cheers":[],"dateTime":"2016-02-14","description":"200 floors in a
        day","earnedMessage":"Congrats on earning your first Castle badge!","encodedId":"228TC9","image100px":"http://static0.fitbit.com/images/badges_new/100px/badge_daily_floors200.png","image125px":"http://static0.fitbit.com/images/badges_new/125px/badge_daily_floors200.png","ima[...]
- request:
    method: get
    uri: https://api.fitbit.com/1/user/35FPZ5/activities/heart/date/2016-02-18/30d.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE0NTU4NTcxNTIsInNjb3BlcyI6Indwcm8gd3NsZSB3d2VpIHdociB3YWN0IHdzb2MiLCJzdWIiOiIzNUZQWjUiLCJhdWQiOiIyMjlXM0IiLCJpc3MiOiJGaXRiaXQiLCJ0eXAiOiJhY2Nlc3NfdG9rZW4iLCJpYXQiOjE0NTU4NTM1NTJ9.b-wxJjnAaWE8EVJW30LXOSMpWgjJ0ErmJCB3B5pxL08
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Fitbit-Rate-Limit-Limit:
      - '150'
      Fitbit-Rate-Limit-Remaining:
      - '88'
      Fitbit-Rate-Limit-Reset:
      - '571'
      Etag:
      - 783caed1
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"activities-heart":[{"dateTime":"2016-01-20","value":{"customHeartRateZones":[],"heartRateZones":[{"max":96,"min":30,"name":"Out
        of Range"},{"max":135,"min":96,"name":"Fat Burn"},{"max":164,"min":135,"name":"Cardio"},{"max":220,"min":164,"name":"Peak"}]}},{"dateTime":"2016-01-21","value":{"customHeartRateZones":[],"heartRateZones":[{"max":96,"min":30,"name":"Out
        of Range"},{"max":135,"min":96,"name":"Fat Burn"},{"max":164,"min":135,"name":"Cardio"},{"max":220,"min":164,"name":"Peak"}]}},{"dateTime":"2016-01-22","value":{"customHeartRateZones":[],"heartRateZones":[{"max":96,"min":30,"name":"Out
        of Range"},{"max":135,"min":96,"name":"Fat Burn"},{"max":164,"min":135,"name":"Cardio"},{"max":220,"min":164,"name":"Peak"}]}},{"dateTime":"2016-01-23","value":{"customHeartRateZones":[],"heartRateZones":[{"max":96,"min":30,"name":"Out
        of Range"},{"max":135,"min":96,"name":"Fat Burn"},{"max":164,"min":135,"name":"Cardio"},{"max":220,"min":164,"name":"Peak"}]}},{"dateTime":"2016-01-24","value":{"customHeartRateZones":[],"heartRateZones":[{"max":96,"min":30,"name":"Out
        of Range"},{"max":135,"min":96,"name":"Fat Burn"},{"max":164,"min":135,"name":"Cardio"},{"max":220,"min":164,"name":"Peak"}]}},{"dateTime":"2016-01-25","value":{"customHeartRateZones":[],"heartRateZones":[{"caloriesOut":353.33321,"max":96,"min":30,"minutes":256,"name":"Out
        of Range"},{"caloriesOut":726.33695,"max":135,"min":96,"minutes":274,"name":"Fat
        Burn"},{"caloriesOut":93.72429,"max":164,"min":135,"minutes":11,"name":"Cardio"},{"caloriesOut":169.67147,"max":220,"min":164,"minutes":16,"name":"Peak"}],"restingHeartRate":81}},{"dateTime":"2016-01-26","value":{"customHeartRateZones":[],"heartRateZones":[{"caloriesOut":1388.01831,"max":96,"min":30,"minutes":1203,"name":"Out
        of Range"},{"caloriesOut":550.46268,"max":135,"min":96,"minutes":192,"name":"Fat
        Burn"},{"caloriesOut":157.76991,"max":164,"min":135,"minutes":18,"name":"Cardio"},{"caloriesOut":146.64309,"max":220,"min":164,"minutes":14,"name":"Peak"}],"restingHeartRate":82}},{"dateTime":"2016-01-27","value":{"customHeartRateZones":[],"heartRat[...]
- request:
    method: get
    uri: https://api.fitbit.com/1/user/35FPZ5/sleep/date/2016-02-18.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE0NTU4NTcxNTIsInNjb3BlcyI6Indwcm8gd3NsZSB3d2VpIHdociB3YWN0IHdzb2MiLCJzdWIiOiIzNUZQWjUiLCJhdWQiOiIyMjlXM0IiLCJpc3MiOiJGaXRiaXQiLCJ0eXAiOiJhY2Nlc3NfdG9rZW4iLCJpYXQiOjE0NTU4NTM1NTJ9.b-wxJjnAaWE8EVJW30LXOSMpWgjJ0ErmJCB3B5pxL08
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Fitbit-Rate-Limit-Limit:
      - '150'
      Fitbit-Rate-Limit-Remaining:
      - '87'
      Fitbit-Rate-Limit-Reset:
      - '570'
      Etag:
      - 581c207e
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"sleep":[{"awakeCount":0,"awakeDuration":0,"awakeningsCount":7,"dateOfSleep":"2016-02-18","duration":17640000,"efficiency":79,"isMainSleep":true,"logId":10914145207,"minuteData":[{"dateTime":"01:03:00","value":"2"},{"dateTime":"01:04:00","value":"2"},{"dateTime":"01:05:00","value":"2"},{"dateTime":"01:06:00","value":"2"},{"dateTime":"01:07:00","value":"2"},{"dateTime":"01:08:00","value":"2"},{"dateTime":"01:09:00","value":"2"},{"dateTime":"01:10:00","value":"2"},{"dateTime":"01:11:00","value":"2"},{"dateTime":"01:12:00","value":"2"},{"dateTime":"01:13:00","value":"2"},{"dateTime":"01:14:00","value":"1"},{"dateTime":"01:15:00","value":"1"},{"dateTime":"01:16:00","value":[...]
- request:
    method: get
    uri: https://api.fitbit.com/1/user/35FPZ5/badges.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE0NTU4NTcxNTIsInNjb3BlcyI6Indwcm8gd3NsZSB3d2VpIHdociB3YWN0IHdzb2MiLCJzdWIiOiIzNUZQWjUiLCJhdWQiOiIyMjlXM0IiLCJpc3MiOiJGaXRiaXQiLCJ0eXAiOiJhY2Nlc3NfdG9rZW4iLCJpYXQiOjE0NTU4NTM1NTJ9.b-wxJjnAaWE8EVJW30LXOSMpWgjJ0ErmJCB3B5pxL08
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Fitbit-Rate-Limit-Limit:
      - '150'
      Fitbit-Rate-Limit-Remaining:
      - '86'
      Fitbit-Rate-Limit-Reset:
      - '570'
      Etag:
      - a66d5167
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"badges":[{"badgeGradientEndColor":"00D3D6","badgeGradientStartColor":"007273","badgeType":"DAILY_STEPS","category":"Daily
        Steps","cheers":[],"dateTime":"2015-07-11","description":"30,000 steps in
        a day","earnedMessage":"Congrats on earning your first Trail Shoe badge!","encodedId":"228TM5","image100px":"http://static0.fitbit.com/images/badges_new/100px/badge_daily_steps30k.png","image125px":"http://static0.fitbit.com/images/badges_new/125px/badge_daily_steps30k.png","image300px":"http://[...]
- request:
    method: get
    uri: https://api.fitbit.com/1/user/35FPZ5/activities/date/2016-02-18.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE0NTU4NTcxNTIsInNjb3BlcyI6Indwcm8gd3NsZSB3d2VpIHdociB3YWN0IHdzb2MiLCJzdWIiOiIzNUZQWjUiLCJhdWQiOiIyMjlXM0IiLCJpc3MiOiJGaXRiaXQiLCJ0eXAiOiJhY2Nlc3NfdG9rZW4iLCJpYXQiOjE0NTU4NTM1NTJ9.b-wxJjnAaWE8EVJW30LXOSMpWgjJ0ErmJCB3B5pxL08
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Fitbit-Rate-Limit-Limit:
      - '150'
      Fitbit-Rate-Limit-Remaining:
      - '85'
      Fitbit-Rate-Limit-Reset:
      - '570'
      Etag:
      - 891efc98
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"activities":[],"goals":{"activeMinutes":35,"caloriesOut":2600,"distance":8.05,"floors":18,"steps":10000},"summary":{"activeScore":-1,"activityCalories":752,"caloriesBMR":1301,"caloriesOut":1885,"distances":[{"activity":"total","distance":4.72},{"activity":"tracker","distance":4.72},{"activity":"loggedActivities","distance":0},{"activity":"veryActive","distance":0.42},{"activity":"moderatelyActive","distance":0.44},{"activity":"lightlyActive","distance":3.86},{"activity":"sedentaryActive","distance":0}],"elevation":42.67,"fairlyActiveMinutes":6,"floors":14,"lightlyActiveMinutes":202,"marginalCalories":376,"sedentaryMinutes":551,"steps":6459,"veryActiveMinutes":5}}'
  recorded_at: Fri, 19 Feb 2016 03:50:30 GMT
[...]
- request:
    method: get
    uri: https://api.fitbit.com/1/user/35FPZ5/activities/goals/daily.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE0NTU4NTcxNTIsInNjb3BlcyI6Indwcm8gd3NsZSB3d2VpIHdociB3YWN0IHdzb2MiLCJzdWIiOiIzNUZQWjUiLCJhdWQiOiIyMjlXM0IiLCJpc3MiOiJGaXRiaXQiLCJ0eXAiOiJhY2Nlc3NfdG9rZW4iLCJpYXQiOjE0NTU4NTM1NTJ9.b-wxJjnAaWE8EVJW30LXOSMpWgjJ0ErmJCB3B5pxL08
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Fitbit-Rate-Limit-Limit:
      - '150'
      Fitbit-Rate-Limit-Remaining:
      - '80'
      Fitbit-Rate-Limit-Reset:
      - '568'
      Etag:
      - 3807a989
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"goals":{"activeMinutes":35,"caloriesOut":2600,"distance":8.05,"floors":18,"steps":10000}}'
  recorded_at: Fri, 19 Feb 2016 03:50:32 GMT
- request:
    method: get
    uri: https://api.fitbit.com/1/user/35FPZ5/activities/goals/weekly.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE0NTU4NTcxNTIsInNjb3BlcyI6Indwcm8gd3NsZSB3d2VpIHdociB3YWN0IHdzb2MiLCJzdWIiOiIzNUZQWjUiLCJhdWQiOiIyMjlXM0IiLCJpc3MiOiJGaXRiaXQiLCJ0eXAiOiJhY2Nlc3NfdG9rZW4iLCJpYXQiOjE0NTU4NTM1NTJ9.b-wxJjnAaWE8EVJW30LXOSMpWgjJ0ErmJCB3B5pxL08
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Fitbit-Rate-Limit-Limit:
      - '150'
      Fitbit-Rate-Limit-Remaining:
      - '79'
      Fitbit-Rate-Limit-Reset:
      - '567'
      Etag:
      - cc164653
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"goals":{"distance":56.33,"floors":105,"steps":84000}}'
  recorded_at: Fri, 19 Feb 2016 03:50:32 GMT
recorded_with: VCR 3.0.1
