<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1 class="welcome-title">Welcome to Fitness Tracker</h1>
      <%= link_to "Log In With FitBit", "/auth/fitbit" %>
    </div>
  </div>
</div>
