$background-color: #272a2e;
$base-green: #92f669;

$link: #f3f670;
$link-hover: #72f4f0;

$sleep-date-pink: #c400b1;

$white: white;
$black: black;

$progress-bar-background: #555;
$progress-bar-shadow-light: rgba(255,255,255,0.3);
$progress-bar-shadow-dark: rgba(0,0,0,0.4);
$progress-bar-fill: rgb(43,194,83);
