// ----IMPORT NECESSARY PARTIALS----

@import "colors";

// -----FONTS-----

@import url(https://fonts.googleapis.com/css?family=Lato:300);

body {
  font-family: 'Lato', sans-serif;
  background: $background-color;
}

// -----WELCOME PAGE-----

.welcome-title {
  color: $base-green;
  font-size: 55px;
  letter-spacing: 0.1em;
  margin-top: 35vh;
  margin-bottom: 40px;
}

.login-link {
  border: solid 3px $link;
  border-radius: 15px;
  color: $link;
  font-size: 22px;
  padding: 10px 20px;

  &:hover {
    border-color: $link-hover;
    color: $link-hover;
    text-decoration: none;
  }

}

// -----DASHBOARD: GENERAL-----

h4 {
  letter-spacing: 0.1em;
}

.panel {
  padding: 10px;
}

.dashboard-banner {
  color: $base-green;
  margin-bottom: 20px;
}

// -----DASHBOARD: FRIENDS-----

.friend {
  margin: 20px 0;
}

.friend-avatar {
  max-height: 60px;
}

.friend-steps {
  margin-top: 2px;
  font-size: 24px;
  letter-spacing: 0em;
}

.friend-name {
  margin: 0;
}

// -----DASHBOARD: LAST NIGHT'S SLEEP-----

.big-time {
  font-size: 50px;
}

.sleep-row-column {
  height: 300px;
}

.awake-text,
.restless-text {
  font-size: 20px;
}

// -----DASHBOARD: BADGES-----

.badge-gallery {
  font-size: 0;
  margin: auto;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0;
  width: 90%;
  white-space: nowrap;
}

.badge {
  background-color: white;
  color: black;
  padding: 10px 10px;
	width: 100%;
}

.badge-image {
  margin-bottom: 10px;
}

.badge-description {
  font-size: 26px;
}
